@import url(normalize);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,300);

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 18pt;
}

h1, h2, h3 {
  font-family: 'Oswald', Impact, sans-serif;
  font-weight: 400;
}

h1 {font-size: 5em; color: #1b323f;}
h2 {font-size: 3em; color: #222; margin: 0;}
h3 {font-size: 2em; color: #008774; margin: 0;}
p, li {font-size: 1em; color: #666;}


.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f7f7f7;
}

.slide.active {
  display: block;
  overflow: auto;
}

.footnote {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.5em;
}