@keyframes bounceSpinZ {
  0% {
    transform: rotate(0deg);
    font-size: 1em;
  }
  20% {
    transform: rotate(0deg);
    font-size: 1em;
  }
  40% {
    transform: rotate(225deg);
    font-size: 10em;
  }
  80% {
    transform: rotate(225deg);
    font-size: 10em;
  }
  100% {
    transform: rotate(0deg);
    font-size: 1em;
  }
}