$brand-1: #083330;
$brand-2: #025A53;

$gray-1: #101517;
$gray-2: #272929;
$gray-3: #404547;
$gray-4: #666;
$gray-5: #ccc;
$gray-6: #aaa;
$gray-7: #eee;

$yellow:  #FFE763;
$amber:   #EDA168;
$pink:    #DD75B4;
$purple:  #7853E8;
$blue:    #6AA7BF;
$red:     #ED6E68;


// * --- Stock Images --- *//

$img-woman-hand-desk-office: 'https://static.pexels.com/photos/6384/woman-hand-desk-office.jpg';
$img-hand-drawing: 'https://static.pexels.com/photos/24407/pexels-photo-24407.jpg';
$img-desk-office-pen-ruler: 'https://static.pexels.com/photos/2097/desk-office-pen-ruler.jpg';
$img-iphone-books-desk: 'https://static.pexels.com/photos/232/apple-iphone-books-desk.jpg';
$img-hand-icons: 'https://static.pexels.com/photos/17845/pexels-photo.jpg';
$img-handcraft: 'https://static.pexels.com/photos/17823/pexels-photo.jpg';
$img-carpenter-tools: 'https://static.pexels.com/photos/3327/construction-work-carpenter-tools.jpg';